<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a iBiblioteca!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     iBiblioteca es una aplicación desarrollada con Ionic que permite gestionar una biblioteca de un centro educativo
    </ion-card-content>
    <ion-card-content>
      Para acceder a la biblioteca pulsa en el siguiente botón:
    </ion-card-content>

    <ion-card-content>
      <button ion-button icon-left>
        <ion-icon name="school-outline" style="zoom:2.0;"></ion-icon>Acceso a iBiblioteca
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Información sobre el autor</ion-card-title>
    </ion-card-header>

    <ion-card-content>
     Aplicación desarrollad por Joaquín Marín.
    </ion-card-content>
    <ion-card-content>
      <button ion-button icon-left>
        <ion-icon name="school-outline" style="zoom:2.0;"></ion-icon>Consultar información
      </button>
    </ion-card-content>
  </ion-card>
</ion-content>
